<!DOCTYPE html>
<html>

<head>
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{ if .Site.Params.subtitle }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	<meta charset="utf-8" />
	<meta name="title" content="{{.Site.Title}}">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.subtitle }}{{ end }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Open Graph -->
	{{- if .IsHome -}}
	<meta property="og:title"
		content="{{ $siteTitle }} {{ if .Site.Params.subtitle }}- {{ .Site.Params.Subtitle }}{{ end }}" />
	{{- else -}}
	<meta property="og:title" content="{{ $title }} - {{ $siteTitle }}" />
	{{- end -}}

	<meta property="og:description"
		content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.subtitle }}{{ end }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ .Permalink }}" />

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/static/images/favicon.png" />

	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<meta property="og:image" content="{{ .Site.BaseURL }}/static/images/no-gift/thumb.png">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}/static/grid.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}/static/no-gift.css" />
</head>
<body>
<div class="container wrap">
	<header class="header">
		<a href="/no-gift-pledge" class="logo"><img src="{{ .Site.BaseURL }}/static/images/no-gift/no-gift-logo.svg" /></a>
	</header>

	<div class="main">
		<section class="intro">
			<h3>
				Next festive season, instead of sending corporate gift boxes from one business to another,
				consider giving to a cause. Cut out the waste and pollution. Take the pledge.
			</h3>
			<p>
				All across India, we love and celebrate our numerous festivals with great joy.
				With festive seasons come gifting seasons.
				Millions of gifts are sent not just by individuals but also by businesses.
				However, corporate gift boxes sent in bulk by businesses to other businesses are unlike
				individual acts of gifting that convey personal emotions and sentiments.
			</p>
			<p> While our intentions are good,
				we forget about the environmental impact of a gift box. For instance, a plastic-laden gift box given in Bengaluru is most likely manufactured in a faraway place,
				shipped by air to central logistics hubs like Delhi, Kolkata, or Mumbai, and then shipped back
				to Bengaluru by road. Every step in the supply chain leaves a carbon footprint
				and generates massive amounts of waste.
			</p>

			<p>
				We believe that businesses and corporations can convey their goodwill to each other
				by supporting worthy social causes without generating material waste and pollution.
				Businesses do not need gift boxes to brighten their day. Instead, they can celebrate the next
				festive season by bringing the light to people and causes who really need it,
				eliminating waste and pollution in the process. 
			</p>
			<p>
				Take the #NoCorporateGiftBox pledge.
			</p>
		</section>

		<br />
		<section class="section" id="orgs">
			<h1>Causes</h1>
			<p>
				Support any cause around you. If you are unsure where to start,
				here is a list of causes that Rainmatter Foundation has curated.
			</p>

			<ul class="orgs">
			{{ range (index .Page.Site.Data "no-gift-donees") }}
			    <li class="box">
			    	<div class="head">
			        	{{ if .image_url }}
			        	<a href="{{ .url }}"><img src="{{ .Site.BaseURL }}/static/images/no-gift/{{ .image_url }}" alt="{{ .name }}" /></a>
			        	{{ end }}

			            <h3 class="title"><a href="{{ .url }}">{{ .name }}</a></h3>
			        </div>

		            <p class="center"><a href="{{ .donate_url }}" class="button">Donate</a></p>

					<p class="desc">{{ .description }}</p>
			    </li>
			{{ end }}
			</ul>
		</section>

		<section>
			<h1 id="pledgers">Pledger list</h1>
			<p>
				Organisations who have taken the pledge to not send and receive corporate gift boxes.
				If you have taken the pledge, <a href="mailto:info@rainmatter.org">e-mail us</a> to add your organisation to the list.
			</p>
			<ul>
				{{ range (index .Page.Site.Data "no-gift-pledgers") }}
				    <li>{{ .name }}</li>
				{{ end }}
			</ul>
		</section>

		<br /><br />
		<footer>
			<p>&copy; <a href="https://rainmatter.org">Rainmatter Foundation</a></p>
		</footer>
	</div>
</div>


</body>
</html>
