	</div>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="four columns">
					<div class="logo">
						<a href="/"><img src="/static/images/logo-mark.svg" alt="" /></a>
					</div>
					<p>
						Rainmatter Foundation &copy; 2019-{{ dateFormat "2006" now }}
						<br />
						<a href="mailto:info@rainmatter.org">info@rainmatter.org</a>
					</p>
					<p><strong>CIN</strong> U72900KA2016NPL093525</p>
				</div>
				<div class="four columns">
					<ul class="flat">
						<li><a href="/"><strong>Home</strong></a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/funding">Funding</a></li>
						<li><a href="https://grove.rainmatter.org">The Grove (forum)</a></li>
						<li><a href="/about#contact">Contact</a></li>
					</ul>
				</div>
				<div class="four columns">
						<strong>Address</strong><br />
						#153/154, 4th Cross,<br />
						JP Nagar 4th Phase,<br />
						Bengaluru - 560078
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/static/main.js"></script>
</body>
</html>
