{{ partial "header.html" . }}

<div class="home">
 	<section class="intro">
 				<h2>Who are we?</h2>
		 		Rainmatter Foundation is an initiative by the team behind <a href="https://zerodha.com">Zerodha</a>, India's largest stock broking firm. With the understanding that climate change is not a technological problem to be solved like in our line of work, we have committed to using the resources available to us to support efforts in the areas of climate change, environmental conservation and rejuvenation, and sustainable livelihoods.
		 		<a href="about">Learn more</a>.
 	</section>

 	<section class="border blocks">
 		<div class="row">
			<div class="four columns">
				<div class="box">
			 		<h2>Projects</h2>
		 			<p>
		 				We support and fund grassroots on-the-ground projects run by both individuals and organisations working on conservation, restoration, and climate problems.
		 			</p>
		 			<p><a href="projects">Learn more &rarr;</a></p>
		 		</div>
		 	</div>
	 		<div class="four columns">
	 			<div class="box">
			 		<h2>Funding</h2>
		 			<p>
		 				We believe businesses and the economy need to align with consveration and climate goals for large scale changes. We provide funding to startups working in this space.
		 			</p>
		 			<p><a href="funding">Learn more &rarr;</a></p>
		 		</div>
		 	</div>
	 		<div class="four columns">
	 			<div class="box">
			 		<h2>Grants</h2>
		 			<p>
		 				Our small grants programs support individuals and organisations working on environmental and climate advocacy, policy, research.
		 			</p>
		 			<p><a href="funding/#grants">Learn more &rarr;</a></p>
		 		</div>
		 	</div>
		</div><!-- row -->
 	</section>

 	<section class="mini recent-blog">
 		<h1 class="align-center">Blog</h1>

 		<ul class="flat" id="blog-entries">
 			<li class="entry row">
 				<div class="two columns date">
 					<span class="day"></span>
 					<span class="month"></span>
 				</div>
 				<div class="one column"> </div>
 				<div class="nine columns">
	 				<h4 class="title"><a href="" class="url"></a></h4>
		 			<p class="description"></p>
		 		</div>
 			</li>
 		</ul>
 	</section>
</div>
{{ partial "footer.html" . }}
