{{ partial "header.html" . }}

<section class="welcome">
	<div class="row">
		<div class="five columns text">
			<h1>A little more forest, everywhere.</h1>
			<p>The ongoing enviromental destruction and the ensuing climate crisis are dire.
				We support organisations for climate action and a healthier environment.</p>
		</div>
		<div class="seven columns image">
			<img src="static/images/splash3.jpg" />
			<div class="text-tiny dim">
				<a href="https://ebtl.earth">EBTL, Tamil Nadu</a> restoration project by Rainmatter Foundation. July 2022.
			</div>
		</div>
	</div>
</section>

<div class="home">
	<section class="box intro">
		<h1 class="text-centre">What we do</h1>

		<div class="row">
			<div class="six columns">
				<p>
					Founded in 2019, we are a non-profit organisation in India that supports organisations and projects
					for climate action, a healthier environment, and livelihoods associated with them.
				</p>
				<p>
					We strive to be a common platform for various stakeholders (CSOs, NGOs, startups, policy makers et. al.)
					working in the climate space to collaborate on meaningful and impactful work on serious issues
					pertaining to climate and environment in the areas of forests, water, soil, farm, food systems,
					ecology, energy, and transport.
				</p>
				<p>
					To enable and accelerate such an ecosystem, we have committed $200 million in funding and grants to individuals
					and organisations working in these areas.
				</p>
				<p>
					We are focused on fostering and assisting ideas that help preserve and regenerate ecosystems.
					Our belief is that this needs both direct grassroots interventions as well as the enablement of larger efforts
					that create a public mainstream understanding of the problems at hand, inviting broader participation,
					beyond the philanthropic efforts of a few.
				</p>
				<p>
					Indeed, we do not see this as charity, but as an investment into our own future and wellbeing.
				</p>

				<br />
				<p><a href="about" class="button">About us &rarr;</a></p>
			</div>
			<div class="six columns">
				<ul class="noul intro-points">
					<li style="border-color: #00994d">
						<h3>Ecology</h3>
						<p>Water, air, soil, biodiversity. The foundational needs that are assumed to be free, but noticed only during collapse</p>
					</li>
					<li style="border-color: #e9c6af">
						<h3>Human services</h3>
						<p>Education, healthcare, legal access, law and justice, common spaces, communication, representation, local access, and quality of life.</p>
					</li>
					<li style="border-color: #afdde9">
						<h3>Economy</h3>
						<p>Entrepreneurship, livelihoods, value addition, local capacities, production, and consumption. Reduce outside dependency and prevent leakage from local clusters.</p>
					</li>
					<li style="border-color: #ffdd55">
						<h3>Pride and identity</h3>
						<p>Local culture, arts, crafts, GI, shared natural and cultural wealth and cuisines, tourisms. Things that inspire identity and pride in people.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<hr />
	<section class="partners">
		<h1>Partners</h1>
		<br />

		<img src="static/images/partners/biome.png" />
		<img src="static/images/partners/csei.png" />
		<img src="static/images/partners/cstep.png" />
		<img src="static/images/partners/dakshin.png" />
		<img src="static/images/partners/farmers-for-forests.png" />
		<img src="static/images/partners/hume.png" />
		<img src="static/images/partners/ncf.png" />
		<img src="static/images/partners/reapbenefit.png" />
		<img src="static/images/partners/saytrees.png" />
		<img src="static/images/partners/tfw.png" />

		<img src="static/images/partners/min/akshayakalpa.png" />
		<img src="static/images/partners/min/bluesky.png" />
		<img src="static/images/partners/min/infinitybox.png" />
		<img src="static/images/partners/min/matchlog.png" />
		<img src="static/images/partners/min/solarsquare.png" />
		<img src="static/images/partners/min/sundaygrids.png" />
		<img src="static/images/partners/min/terra.png" />
		<img src="static/images/partners/min/zerocircle.svg" />
		<br /><br />

		<p><a href="partners">View all &rarr;</a></p>
	</section>

	<section class="border blocks">
		<div class="row evenly">
			<div class="five columns">
				<div class="box">
					<h2>Partnerships</h2>
					<p>
						We strive to be a common platform for various stakeholders (CSOs, NGOs, startups, policy makers et. al.)
						working in the climate space to collaborate on meaningful and impactful work on serious issues
						pertaining to climate and environment in the areas of forests, water, soil, farm, food systems,
						ecology, energy, and transport. If you work in this space, please get in touch us.
					</p>
					<p class="align-center"><a href="mailto:foundation@rainmatter.org" class="button">Get in touch</a></p>
				</div>
			</div>
			<div class="five columns">
				<div class="box">
					<h2>Funding and grants</h2>
					<p>
						We fund fellowships and organisations working to restore the environment through direct action, research,
						climate advocacy and policy. If you work in this area and would like to apply for a grant, please
						read up on our funding and grants program.
					</p>
					<br />
					<p class="align-center"><a href="funding" class="button">Learn more &rarr;</a></p>
				</div>
			</div>
		</div>
		<!-- row -->
	</section>

	<!--  	<section class="mini recent-blog">
 		<h1 class="align-center">Blog</h1>

 		<ul class="flat" id="blog-entries">
 			<li class="entry row">
 				<div class="two columns date">
 					<span class="day"></span>
 					<span class="month"></span>
 				</div>
 				<div class="one column"> </div>
 				<div class="nine columns">
	 				<h4 class="title"><a href="" class="url"></a></h4>
		 			<p class="description"></p>
		 		</div>
 			</li>
 		</ul>
 	</section> -->
</div>
{{ partial "footer.html" . }}