/* No Gift Pledge page specific styles */

.page-no-gift-pledge .intro {
	margin-bottom: 45px;
}
	.page-no-gift-pledge .intro h3 {
		color: var(--primary);
	}

.page-no-gift-pledge .section:not(:last-child) {
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.page-no-gift-pledge .center {
	text-align: center;
}

.page-no-gift-pledge .box {
	padding: 30px;
	border: 1px solid #e6e6e6;
	box-shadow: 1px 1px 4px #e6e6e6;
	border-radius: 4px;
}

.page-no-gift-pledge .button {
	background: var(--primary);
	color: #fff;
	padding: 15px 30px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
	width: 200px;
	display: inline-block;
	text-align: center;
}
	.page-no-gift-pledge .button:hover {
		background: #333;
		color: #fff;
	}

.page-no-gift-pledge .donees {
	list-style-type: none;
	margin-bottom: 0;
	padding: 0;
	color: #555;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
	.page-no-gift-pledge .donees li {
		flex: 1;
		min-width: 300px;
		max-width: 350px;
	}
	.page-no-gift-pledge .donees .head {
		text-align: center;
		min-height: 180px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.page-no-gift-pledge .donees img {
		border: 1px solid #eee;
		max-height: 150px;
	}
	.page-no-gift-pledge .donees .desc {
		font-size: 0.9rem;
		line-height: 1.3rem;
		margin: 20px 0;
	}
	.page-no-gift-pledge .donees .title {
		margin-bottom: 0;
		line-height: 1.9rem;
	}
	.page-no-gift-pledge .donees .donate {
		margin-top: 20px;
		text-align: center;
	}

.page-no-gift-pledge .pledgers {
	list-style-type: none;
	padding: 0;
}
	.page-no-gift-pledge .pledgers li {
		margin-bottom: 10px;
	}
