<h2>Leadership</h2>


<div class="people">
    <div class="row">
        <div class="two columns">
            <figure>
                <img src="/static/images/people/sameer.png" alt="Sameer Shisodia">
                <p class="name">Sameer Shisodia <span class="title">CEO</span></p>
            </figure>
        </div>
        <div class="five columns bio">
                Sameer heads the Rainmatter foundation developing projects, and building funding and investments programs, among many other things.
                He left his long career in the tech industry a decade ago and partly moved to Coorg to experiment with sustainable farming, farm collectives, and his personal passion, rejuvenating soil and forests. He runs <a href="https://linger.in">Linger</a> as a hobby, and shares his thoughts regularly on his <a href="https://zenx.medium.com">blog</a>.

                <p class="links">
                    <a href="https://www.linkedin.com/in/sameershisodia/">LinkedIn</a>
                    <a href="https://twitter.com/zenx">Twitter</a>
                </p>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <figure>
                <img src="/static/images/people/nithin.jpg" alt="Sameer Shisodia">
                <p class="name">Nithin Kamath <span class="title">Director</span></p>
                <p class="bio-link"><a href="#">Bio</a></p>
            </figure>
            <div class="bio text-small">
                At Rainmatter, he helps connect the dots - funding, connections, and getting the right people together. He dreams of seeing a better distribution of wealth and a much greener planet. Nithin founded Zerodha in 2010. He loves cycling, trekking, and swimming in nature. 
            </div>
            <p class="links text-small">
                <a href="https://www.linkedin.com/in/nithin-kamath-81136242/">LinkedIn</a>
                <a href="https://twitter.com/Nithin0dha">Twitter</a>
            </p>
        </div>
    </div>
</div>
