{{ with (index .Page.Site.Data.people (.Get 0)) }}
    <div class="block">
        <figure>
            <a href="#" class="open-bio" data-target="bio-{{ ($.Get 0) }}">
                <img src="/static/images/people/{{ .photo }}" alt="{{ .name }}">
            </a>
            <p class="name">
                <a href="#" class="open-bio" data-target="bio-{{ ($.Get 0) }}">{{ .name }}</a>
                {{ if .title }}
                    <span class="title">{{ .title }}</span>
                {{ end }}
            </p>
        </figure>
    </div>

    <div class="bio" id="bio-{{ ($.Get 0) }}">
        <div class="row">
            <div class="three columns">
                <figure>
                    <img src="/static/images/people/{{ .photo }}" alt="{{ .name }}">
                    <p class="name">
                        {{ if .title }}
                        <span class="title">{{ .title }}</span>
                        {{ end }}
                    </p>
                </figure>
            </div>
            <div class="nine columns">
                <h3>{{ .name }}</h3>
                {{ .bio | safeHTML }}

                {{ if .links }}
                    <p class="links text-small">
                        {{ range $name, $url := .links }}
                            <a href="{{ $url }}">{{ $name }}</a>
                        {{ end }}
                    </p>
                {{ end }}

                <br />
                <p><a href="#" class="button" class="close-bio">Close</a></p>
            </div>
        </div>
    </div>
{{ end }}